body {
    background-color: #fff;
}

/* Background for top */
.bg-head {
    background: #ffc045 url("../images/head-bg.jpg") repeat top left;
}

/* Header */
#page-head {
    padding: 1rem 0;
}
#page-head .navbar > .container-fluid {
    padding: 0;
}
#page-head a {
    font-family: 'Bebas Neue', cursive;
    color: #3d2514;
}
.head-logo {
    font-size: 2rem;
}
.logo-img {
    max-width: 3.4rem;
    height: auto;
    margin-right: 0.5rem;
}

/* Menu button for mobile devices with animation */
.menu-button {
    display: flex;
    border-color: #3d2514;
    color: #3d2514;
    padding: 1rem 0.75rem;
}
.menu-button .navbar-toggler-icon {
    position: relative;
    background-color: transparent;
    width: 1rem;
    height: 0.125rem;
}
.menu-button .navbar-toggler-icon::before, .menu-button .navbar-toggler-icon::after {
    content: "";
    background-color: #3d2514;
    width: 1rem;
    height: 0.125rem;
    position: absolute;
    left: 0;
    transition: 0.3s ease-in;
}
.menu-button .navbar-toggler-icon::before {
    bottom: 0;
    transform: rotate(45deg);
}
.menu-button .navbar-toggler-icon::after {
    top: 0;
    transform: rotate(135deg);
}
.menu-button.collapsed .navbar-toggler-icon {
    background-color: #3d2514;
}
.menu-button.collapsed .navbar-toggler-icon::before {
    bottom: 0.375rem;
    transform: rotate(0deg);
}
.menu-button.collapsed .navbar-toggler-icon::after {
    top: 0.375rem;
    transform: rotate(0deg);
}
/* For accessibility - adding status of the menu button */
.menu-button .menu-button-sr::before {
    content: "Close ";
}
.menu-button.collapsed .menu-button-sr::before {
    content: "Open ";
}

/* Main menu with hover effect */
.delivery-phone span {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    color: #3d2514;
    padding: 0 0.5rem;
}
.delivery-phone img {
    max-height: 1.5rem;
}
#main-menu .nav-item {
    letter-spacing: 0.125rem;
    padding: 0 1rem;
}
#main-menu .nav-link:hover, #main-menu .nav-link:focus {
    background-color: #3d2514;
    color: #ffc045;
}

/* Hero section */
#page-hero {
    color: #3d2514;
    padding-bottom: 2rem;
}
#page-hero h1 {
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 0.125rem 0.125rem #fee8bc;
    text-transform: uppercase;
    font-size: 2rem;
}
#page-hero .hero-title-lead {
    font-size: 3.5rem;
}
#page-hero .hero-slogan {
    font-family: 'Bebas Neue', cursive;
    border: 0.125rem dashed #3d2514;
    padding: 0.25rem 0.875rem;
    margin-bottom: 1rem;
}
/* Hero deal */
#page-hero .hero-deal {
    position: relative;
}
.hero-deal::before { /* no content (only absolute positioned elements), define the height based on width */
    content: "";
    display: block;
    padding-top: 75%;
    background: radial-gradient(50% 50%, #ffe1a5 0%, #ffe1a5 40%, transparent 100%);
}
.hero-deal-image {
    position: absolute;
}
.hero-deal-french-fries {
    width: 30%;
    left: 5%;
    bottom: 28%;
    transform: rotate(-40deg);
}
.hero-deal-coke {
    width: 25%;
    right: 10%;
    bottom: 8%;
}
.hero-deal-coke-shadow {
    width: 35%;
    height: 7%;
    background: radial-gradient(50% 50%, #000 0%, rgba(0,0,0,0.7) 20%, transparent 70%);
    position: absolute;
    bottom: 3%;
    right: 0;
    opacity: 0.64;
}
.hero-deal-burger {
    width: 65%;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}
.hero-deal-burger-shadow {
    width: 65%;
    height: 7%;
    background: radial-gradient(50% 50%, #000 0%, rgba(0,0,0,0.7) 20%, transparent 70%);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.64;
}
.hero-deal-price {
    background-color: #bf2222;
    border-radius: 50%;
    font-family: 'Bebas Neue', cursive;
    width: 8rem;
    height: 8rem;
    left: 5%;
    bottom: 0;
    padding: 0.5rem;
}
.hero-deal-price-inner {
    border-radius: 50%;
    border: 0.125rem dashed #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    line-height: 1;
}
.hero-deal-price-inner .dollars {
    font-size: 3rem;
}
.hero-deal-price-inner .cents {
    font-size: 2rem;
}
.hero-deal-price-inner .text-only {
    font-size: 1.375rem;
}
.hero-deal-price-inner .text-only span {
    letter-spacing: 0.75rem;
}

/* Try it section */
#try-it {
    font-family: 'Bebas Neue', cursive;
    line-height: 1;
    padding-top: 3rem;
    color: #fff;
}
.try-it-title {
    font-size: 1.125rem;
}
.try-it-subtitle {
    font-size: 2rem;
}
#try-it .try-it-popular, #try-it .try-it-fun, #try-it .try-it-fresh {
    padding: 1.5rem;
    border-radius: 0.5rem;
}
#try-it .try-it-popular {
    background: url("../images/left-meal-image.jpg") no-repeat center center;
    background-size: cover;
    min-height: 26rem;
}
#try-it .try-it-fun {
    background: url("../images/top-meal-image.jpg") no-repeat center center;
    background-size: cover;
    min-height: 12rem;
}
#try-it .try-it-fresh {
    background: url("../images/bottom-meal-image.jpg") no-repeat center center;
    background-size: cover;
    min-height: 12rem;
}

/* Banner title - button looks */
#banner {
    padding-top: 3rem;
    text-align: center;
}
#banner span {
    font-family: 'Bebas Neue', cursive;
    color: #3d2514;
    background-color: #ffc045;
    padding: 0.375rem 1rem;
}

/* Choose and enjoy section */
#choose-enjoy {
    padding-top: 2rem;
    color: #3d2514;
}
#choose-enjoy h2 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2rem;
    text-transform: uppercase;
}
.choose-enjoy-lead {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    padding: 0 1rem;
}
.choose-image-box {
    position: relative;
}
.choose-image-box::before {
    content: "";
    display: block;
    padding-top: 100%;
}
.choose-image-box img {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 85%;
}
.choose-image-box .choose-image-shadow {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 5%;
    background: radial-gradient(50% 50%, rgba(0,0,0,0.5) 0%, transparent 70%);
}
.choose-info {
    padding: 0 1.5rem;
    color: #3d2514;
}
.choose-info h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.75rem;
}
.choose-info p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
}
.choose-info .choose-order-link {
    font-family: 'Alfa Slab One', cursive;
    background-color: #bf2222;
    color: #ffffff;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 1rem;
}

/* Carousel section */
#slider {
    padding: 5rem 1rem 1rem;
    position: relative;
}
#slider .slick-carousel {
    box-shadow: 0.5rem 0.5rem 2rem rgba(0,0,0,0.17);
    padding-bottom: 2rem;
}
#slider .slide {
    padding: 0.5rem;
}
#slider h2 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2rem;
    text-transform: uppercase;
    color: #3d2514;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#slider h2 .slider-title-lead {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.25rem;
    letter-spacing: 0.125rem;
}
#slider p {
    font-family: 'Montserrat', sans-serif;
    color: #3d3d3d;
}
/* Custom style for the slick slider */
#slider .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.5rem;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#slider .slick-dots li button {
    width: 1rem;
    height: 1rem;
    overflow: hidden;
    background-color: #dcdcdc;
    border-radius: 50%;
    color: #dcdcdc;
    border: none;
    margin: 0.125rem 0.25rem;
}
#slider .slick-dots li.slick-active button {
    background-color: #ffc045;
    color: #ffc045;
}
/* End of slick custom style */

/* Reservation - book a table form */
#reservation {
    padding-top: 3rem;
    position: relative;
}
#reservation h2 {
    color: #3d2514;
    text-align: center;
}
#reservation .reservation-lead {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
}
#reservation .reservation-big {
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    font-size: 2rem;
}
#booking-form {
    font-family: 'Bebas Neue', cursive;
    color: #3d3d3d;
    margin: 3rem 0;
}
#booking-form label {
    left: 0.75rem;
}
#booking-form .book-submit {
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    background-color: #bf2222;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
}
#reservation .form-bg-image {
    position: absolute;
    width: 15%;
    bottom: 0;
    right: 0;
    z-index: -1;
}
#reservation .form-bg-image img {
    width: 100%;
}

/* Custom form validation style (in addition to bootstrap style) */
.was-validated input ~ .form-feedback {
    display: none;
    padding-left: 0.75rem;
    font-size: 0.875rem;
}
.was-validated input:invalid ~ .form-feedback {
    display: block;
    color: #dc3545;
}
#booking-form-msg .alert-heading {
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
}
#booking-form-msg .alert-danger .alert-heading {
    border-bottom: 1px solid #842029;
}
#booking-form-msg .alert-success .alert-heading {
    border-bottom: 1px solid #0f5132;
}
#booking-form-msg .alert-errors {
    display: flex;
    flex-direction: column;
}
#booking-form-msg .alert-errors span::before {
    content: "\f06a";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #842029;
    display: inline-block;
    padding-right: 0.25rem;
}
#reservation .alert-focus {
    display: block;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    margin-left: -1px;
    overflow: hidden;
}

/* Footer section */
#page-foot {
    background: #000 url("../images/footer-bg.jpg") no-repeat center center;
    background-size: cover;
    margin-top: 0.25rem;
    color: #ffffff;
    padding: 2rem 1rem;
}
#page-foot .footer-logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.3rem;
    padding-top: 1rem;
}
#page-foot .footer-logo .logo-img {
    width: 3.4rem;
    margin-right: 1rem;
}
#page-foot .footer-info {
    padding: 3rem 0;
}
#page-foot .footer-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
}
#page-foot .footer-contact {
    font-family: 'Bebas Neue', cursive;
}
#page-foot .footer-contact h2 {
    font-size: 1.25rem;
}
#page-foot .footer-contact i {
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    width: 4rem;
}
#page-foot .social-link {
    border-radius: 50%;
    background-color: #ffffff;
    color: #000;
    text-decoration: none;
    width: 2rem;
    margin-left: 0.5rem;
    font-size: 1.25rem;
}
#page-foot .footer-copy {
    font-family: 'Bebas Neue', cursive;
}


/* Media queries for responsiveness */
@media screen and (min-width: 576px) {
    #page-hero h1 {
        font-size: 2.35rem;
    }
    #page-hero .hero-title-lead {
        font-size: 4.2rem;
    }
}

@media screen and (min-width: 768px) {
    #slider .slick-carousel {
        padding-bottom: 3rem;
    }
    #slider h2 {
        text-align: left;
    }
    #slider .slick-dots {
        left: 3rem;
    }
    #reservation .reservation-lead {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    }
    #reservation .reservation-big {
        font-size: 3rem;
    }
}

@media screen and (min-width: 992px) {
    #page-hero h1 {
        font-size: 2.7rem;
    }
    #page-hero .hero-title-lead {
        font-size: 4.9rem;
    }
}
@media screen and (min-width: 1200px) {
    #page-hero h1 {
        font-size: 3rem;
    }
    #page-hero .hero-title-lead {
        font-size: 5.5rem;
    }
}
