body {
    background-color: #fff;
}

/* Background for top */
.bg-head {
    background: #ffc045 url("../images/head-bg.jpg") repeat top left;
}

/* Header */
#page-head {
    padding: 1rem 0;
}
#page-head .navbar > .container-fluid {
    padding: 0;
}
#page-head a {
    font-family: 'Bebas Neue', cursive;
    color: #3d2514;
}
.head-logo {
    font-size: 2rem;
}
.logo-img {
    max-width: 3.4rem;
    height: auto;
    margin-right: 0.5rem;
}

/* Menu button for mobile devices with animation */
.menu-button {
    display: flex;
    border-color: #3d2514;
    color: #3d2514;
    padding: 1rem 0.75rem;
}
.menu-button .navbar-toggler-icon {
    position: relative;
    background-color: transparent;
    width: 1rem;
    height: 0.125rem;
}
.menu-button .navbar-toggler-icon::before, .menu-button .navbar-toggler-icon::after {
    content: "";
    background-color: #3d2514;
    width: 1rem;
    height: 0.125rem;
    position: absolute;
    left: 0;
    transition: 0.3s ease-in;
}
.menu-button .navbar-toggler-icon::before {
    bottom: 0;
    transform: rotate(45deg);
}
.menu-button .navbar-toggler-icon::after {
    top: 0;
    transform: rotate(135deg);
}
.menu-button.collapsed .navbar-toggler-icon {
    background-color: #3d2514;
}
.menu-button.collapsed .navbar-toggler-icon::before {
    bottom: 0.375rem;
    transform: rotate(0deg);
}
.menu-button.collapsed .navbar-toggler-icon::after {
    top: 0.375rem;
    transform: rotate(0deg);
}
/* For accessibility - adding status of the menu button */
.menu-button .menu-button-sr::before {
    content: "Close ";
}
.menu-button.collapsed .menu-button-sr::before {
    content: "Open ";
}

/* Main menu with hover effect */
.delivery-phone span {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    color: #3d2514;
    padding: 0 0.5rem;
}
.delivery-phone img {
    max-height: 1.5rem;
}
#main-menu .nav-item {
    letter-spacing: 0.125rem;
    padding: 0 1rem;
}
#main-menu .nav-link:hover, #main-menu .nav-link:focus {
    background-color: #3d2514;
    color: #ffc045;
}

/* Hero section */
#page-hero {
    color: #3d2514;
    padding-bottom: 2rem;
}
#page-hero h1 {
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 0.125rem 0.125rem #fee8bc;
    text-transform: uppercase;
    font-size: 2rem;
}
#page-hero .hero-title-lead {
    font-size: 3.5rem;
}
#page-hero .hero-slogan {
    font-family: 'Bebas Neue', cursive;
    border: 0.125rem dashed #3d2514;
    padding: 0.25rem 0.875rem;
    margin-bottom: 1rem;
}
/* Hero deal */
#page-hero .hero-deal {
    position: relative;
}
.hero-deal::before { /* no content (only absolute positioned elements), define the height based on width */
    content: "";
    display: block;
    padding-top: 75%;
    background: radial-gradient(50% 50%, #ffe1a5 0%, #ffe1a5 40%, transparent 100%);
}
.hero-deal-image {
    position: absolute;
}
.hero-deal-french-fries {
    width: 30%;
    left: 5%;
    bottom: 28%;
    transform: rotate(-40deg);
}
.hero-deal-coke {
    width: 25%;
    right: 10%;
    bottom: 8%;
}
.hero-deal-coke-shadow {
    width: 35%;
    height: 7%;
    background: radial-gradient(50% 50%, #000 0%, rgba(0,0,0,0.7) 20%, transparent 70%);
    position: absolute;
    bottom: 3%;
    right: 0;
    opacity: 0.64;
}
.hero-deal-burger {
    width: 65%;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}
.hero-deal-burger-shadow {
    width: 65%;
    height: 7%;
    background: radial-gradient(50% 50%, #000 0%, rgba(0,0,0,0.7) 20%, transparent 70%);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.64;
}
.hero-deal-price {
    background-color: #bf2222;
    border-radius: 50%;
    font-family: 'Bebas Neue', cursive;
    width: 8rem;
    height: 8rem;
    left: 5%;
    bottom: 0;
    padding: 0.5rem;
}
.hero-deal-price-inner {
    border-radius: 50%;
    border: 0.125rem dashed #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    line-height: 1;
}
.hero-deal-price-inner .dollars {
    font-size: 3rem;
}
.hero-deal-price-inner .cents {
    font-size: 2rem;
}
.hero-deal-price-inner .text-only {
    font-size: 1.375rem;
}
.hero-deal-price-inner .text-only span {
    letter-spacing: 0.75rem;
}

/* Try it section */
#try-it {
    font-family: 'Bebas Neue', cursive;
    line-height: 1;
    padding-top: 3rem;
    color: #fff;
}
.try-it-title {
    font-size: 1.125rem;
}
.try-it-subtitle {
    font-size: 2rem;
}
#try-it .try-it-popular, #try-it .try-it-fun, #try-it .try-it-fresh {
    padding: 1.5rem;
    border-radius: 0.5rem;
}
#try-it .try-it-popular {
    background: url("../images/left-meal-image.jpg") no-repeat center center;
    background-size: cover;
    min-height: 26rem;
}
#try-it .try-it-fun {
    background: url("../images/top-meal-image.jpg") no-repeat center center;
    background-size: cover;
    min-height: 12rem;
}
#try-it .try-it-fresh {
    background: url("../images/bottom-meal-image.jpg") no-repeat center center;
    background-size: cover;
    min-height: 12rem;
}

/* Banner title - button looks */
#banner {
    padding-top: 3rem;
    text-align: center;
}
#banner span {
    font-family: 'Bebas Neue', cursive;
    color: #3d2514;
    background-color: #ffc045;
    padding: 0.375rem 1rem;
}

/* Choose and enjoy section */
#choose-enjoy {
    padding-top: 2rem;
    color: #3d2514;
}
#choose-enjoy h2 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2rem;
    text-transform: uppercase;
}
.choose-enjoy-lead {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    padding: 0 1rem;
}
.choose-image-box {
    position: relative;
}
.choose-image-box::before {
    content: "";
    display: block;
    padding-top: 100%;
}
.choose-image-box img {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 85%;
}
.choose-image-box .choose-image-shadow {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 5%;
    background: radial-gradient(50% 50%, rgba(0,0,0,0.5) 0%, transparent 70%);
}
.choose-info {
    padding: 0 1.5rem;
    color: #3d2514;
}
.choose-info h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.75rem;
}
.choose-info p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
}
.choose-info .choose-order-link {
    font-family: 'Alfa Slab One', cursive;
    background-color: #bf2222;
    color: #ffffff;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 1rem;
}


